<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
  	
  	<!-- 회원가입 쿼리 -->
  	<insert id="insertMember" parameterType="memberVo">
  		INSERT INTO MEMBER2(ID, PWD, NICK, ENROLL_DATE) VALUES(#{id}, #{pwd}, #{nick}, SYSDATE)
  	</insert>
  	
  	<!-- 로그인 쿼리 -->
  	<!-- 멤버를 조회 (아이디 && 패스워드 일치) : 아이디, 패스워드 전달받아야됨 -->
	<!-- 조회결과 돌려줘야됨 : MemberVo -->
  	<select id="selectMemberLogin" parameterType="memberVo" resultType="memberVo">
  		SELECT ID,
  			   PWD, 
  			   NICK, 
  			   ENROLL_DATE
  		FROM MEMBER2 
  		
  		<if test="id != null and pwd != null">
	  		WHERE ID = #{id} 
	  		AND PWD = #{pwd}
  		</if>
  	</select>
  	
  	<!-- 회원 조회 쿼리 -->
  	<select id="selectMemberSearch" parameterType="searchVo" resultType="memberVo">
  		SELECT
		*
		FROM MEMBER2
		
		<!-- 
		choose문
		<choose>
			<when test="searchType == 'id'">
				WHERE ID = #{searchValue}
			</when>
			<when test="searchType eq 'nick'">
				WHERE NICK = #{searchValue}
			</when>
			<otherwise>
				WHERE ID = 'XXX' 
				AND NICK = 'XXX'
			</otherwise>
		</choose>
		 -->
		 
		<!-- if문 ${searchType} = id, #{searchValue} = 'test1'  #{}은 쿼리로 변환될때 ''를 붙여줌 -->
		<!-- #{vvv} '%${searchValue}%' 써주어도 됨 -->
  		<if test="searchType != null and searchValue != null">
  		<bind name="vvv" value=" '%' + searchValue + '%' "/>
  		WHERE ${searchType} like #{vvv} 
  		</if>
  		 
  		 <!-- 쿼리문 안에서 <, > 쓰는 법 -->
  		 <!--
  		<![CDATA[
  			SELECT
			*
			FROM MEMBER2
			WHERE ENROLL_DATE < SYSDATE
  		]]>
  		 -->
  	</select>
  	
  	<!-- 
  	resultMap 사용법
  	<select id="selectMemberSearch" parameterType="searchVo" resultMap="abc">
  		SELECT
		*
		FROM MEMBER2
	</select>
	
	<resultMap id="abc" type="memberVo">
		<result column="ID" property="id"/>
		<result column="PWD" property="pwd"/>
		<result column="NICK" property="nick"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
	</resultMap>
	 -->
</mapper>










